
 <form  [formGroup]="rForm" (ngSubmit)="UpdateUser(rForm.value)" >
  
<div class="example-container">
  <mat-form-field hintLabel="Max 15 characters">
   <input matInput #input maxlength="15" placeholder="username" formControlName="username"/>
   <mat-hint align="end">{{input.value?.length || 0}}/15</mat-hint>
 </mat-form-field>
 <mat-error *ngIf="!rForm.controls['username'].valid">invalid username </mat-error>
   
<br/>

<mat-form-field hintLabel="Max 30 characters">
 <input matInput #input maxlength="30" placeholder="Email" formControlName="email"/>
 <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
</mat-form-field>
<mat-error *ngIf="!rForm.controls['email'].valid">invalid Email</mat-error>
<!-- <div class="alert alert-danger" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">
   <div *ngIf="rForm.controls['email'].errors.required">email is required </div>
 
  </div> -->
<br/>

<mat-form-field>
  <mat-select placeholder="Role" formControlName="changerole" required>
    <mat-option>Select Role</mat-option>
    <mat-option *ngFor="let role of changerole" [value]="role.id">
      {{role.name}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="!rForm.controls['changerole'].valid">invalid Email</mat-error>
 
</mat-form-field>

<br/>
 <mat-checkbox class="mat-checkbox-layout " formControlName="enabled">Enabled
 </mat-checkbox>
 <br/>
 
  
</div>
<br/>
<button  type="submit" class="btn btn-primary btsave" [disabled]="!rForm.valid" >save</button>

<div *ngIf="submitted" color="warn" class="alert-info">Registered successfully</div>

<button color="primary" mat-raised-button mat-dialog-close="yes">Close</button>

</form>

