<div class="container">
<div *ngIf="openpanel" >
  <table class="panel">
  <thead><th>Order#</th><th>Price</th> <th>image</th> <th>Description</th></thead>
  <tbody *ngFor="let hero of filterdarray ;let i = index;">
 <tr *ngFor="let item of hero.productlist ;let j = index;">
  
 <!-- {{ hero.productlist[i].product.name}} -->
 
<td>   {{item.product.name }}</td>
<td> {{item.product.price }}</td>
<td><img  src="assets/images/{{item.product.imageUrl}}" 
     onError="src='assets/images/red-cable.jpg';"
 class="thumb"></td>
 <td>{{item.product.description}}</td>

 </tr>

</tbody></table>
<button class="btn btn-sm btn-light btclose" (click)="closediv()">close panel</button>
</div>
</div>


<div [class.loader-hidden]="!show">
  <div class="loader-overlay">
          <div>
              <mat-progress-bar color="accent" mode="indeterminate" *ngIf="show"></mat-progress-bar>
          </div>
  </div>
</div>

<div class="container">
    <h2>Orders</h2>
    <div class="table-responsive">           
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Order#</th>
          <th> Created Date</th>
          <th>status</th>
          <th>View</th>

        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let product of orderarr">
               <td>{{product.orderid}}</td>
               <td>{{product.createdDate | date:'yyyy-MM-dd'}}</td>
               <td>{{product.status}}</td>
              <td><button type="button" class="btn btn-success" (click)="openItems(product)">View Items</button></td>  
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  